{% extends 'base.html.twig' %}
{% block body %}
  <div class="row">
    <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
      <h1 class="layout-page-title">
        Invoices
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
    {% for purchase in purchases %}
      <div class="card card-primary">
        <div class="card-header">
          {{ purchase.dateCreated|date('Y-m-d H:i') }}
        </div>
        <div class="card-body">
          <table class="table">
              <tbody>
                <tr>
                  <td>
                    Server
                  </td>
                  <td>
                    <a href="{{ path('server_index', { slug: purchase.server.slug }) }}" target="_blank">
                      {{ purchase.server.name }} ({{ purchase.server.discordID }})
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Price
                  </td>
                  <td>
                    ${{ (purchase.price / 100)|number_format(2) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Period
                  </td>
                  <td>
                    {{ purchase.period }} days
                  </td>
                </tr>
                <tr>
                  <td>
                    Premium Status
                  </td>
                  <td>
                    {{ purchase.status|premiumStatusString|ucwords }}
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

