{% extends "base.html.twig" %}
{% block body %}
  {% include "_layout/search.html.twig" %}
  <div id="page-home">
    {% block heading %}
      <div class="row gutter-bottom">
        <div class="col">
          <a
            href="{{ path('home_index') }}"
            class="btn btn-primary{% if sort == 'most-bumped' %} btn-info{% endif %}"
          >
            {{ icon('app-bump') }}
            <span class="d-none d-lg-inline">
              Most Bumped
            </span>
          </a>
          <a
            href="{{ path('home_recently_bumped') }}"
            class="btn btn-primary{% if sort == 'recently-bumped' %} btn-info{% endif %}"
          >
            {{ icon('app-recently-bumped') }}
            <span class="d-none d-lg-inline">
              Recently Bumped
            </span>
          </a>
          <a
            href="{{ path('home_trending') }}"
            class="btn btn-primary{% if sort == 'trending' %} btn-info{% endif %}"
          >
            {{ icon('app-trending') }}
            <span class="d-none d-lg-inline">
              Trending
            </span>
          </a>
          <a
            href="{{ path('home_most_online') }}"
            class="btn btn-primary{% if sort == 'most-online' %} btn-info{% endif %}"
          >
            {{ icon('app-most-online') }}
            <span class="d-none d-lg-inline">
              Most Online
            </span>
          </a>
          <a
            href="{{ path('home_random') }}"
            class="btn btn-primary{% if sort == 'random' %} btn-info{% endif %}"
          >
            {{ icon('app-random') }}
            <span class="d-none d-lg-inline">
              Random Server
            </span>
          </a>
        </div>
      </div>
    {% endblock %}
    {% if masterServer|default %}
      <div class="row gutter-bottom">
        <div class="col">
          {% include "_cards/server-master.html.twig" with { server: masterServer } %}
        </div>
      </div>
    {% endif %}
    {% include "_layout/servers-browse.html.twig" %}
  </div>
{% endblock %}
