{% extends "base.html.twig" %}
{% block body %}
  {% include "_layout/search.html.twig" %}
  <div id="page-home">
    {% block heading %}
      <div class="row gutter-bottom">
        <div class="col">
          <a
            href="{{ path('home_index') }}"
            class="btn btn-primary{% if sort == 'most-bumped' %} btn-info{% endif %}"
          >
            {{ icon('fire') }}
            <span class="d-none d-lg-inline">
              Most Bumped
            </span>
          </a>
          <a
            href="{{ path('home_recently_bumped') }}"
            class="btn btn-primary{% if sort == 'recently-bumped' %} btn-info{% endif %}"
          >
            {{ icon('burn') }}
            <span class="d-none d-lg-inline">
              Recently Bumped
            </span>
          </a>
          <a
            href="{{ path('home_trending') }}"
            class="btn btn-primary{% if sort == 'trending' %} btn-info{% endif %}"
          >
            {{ icon('chart-line') }}
            <span class="d-none d-lg-inline">
              Trending
            </span>
          </a>
          <a
            href="{{ path('home_most_online') }}"
            class="btn btn-primary{% if sort == 'most-online' %} btn-info{% endif %}"
          >
            {{ icon('user') }}
            <span class="d-none d-lg-inline">
              Most Online
            </span>
          </a>
          <a
            href="{{ path('home_random') }}"
            class="btn btn-primary{% if sort == 'random' %} btn-info{% endif %}"
          >
            {{ icon('random') }}
            <span class="d-none d-lg-inline">
              Random Server
            </span>
          </a>
        </div>
      </div>
    {% endblock %}
    {% include "_layout/servers-browse.html.twig" %}
  </div>
{% endblock %}
