<div
  class="card card-primary card-server-admin"
  data-server-id="{{ server.discordID }}"
  data-next-bump="{{ server.nextBumpSeconds }}"
>
  {% include "_cards/blocks/premium-tag.html.twig" with { sm: true } %}
  <div class="card-header card-server-admin-header">
    <div class="card-server-admin-header-meta">
      <a href="{{ path('server_index', { slug: server.slug }) }}">
        {% include "_media/server-icon.html.twig" %}
      </a>
      <h2>
        <a href="{{ path('server_index', { slug: server.slug }) }}">
          {{ server.name }}
        </a>
      </h2>
    </div>
  </div>
  <div class="card-img">
    <img src="{{ server.bannerMedia|webPath }}" alt="Banner" class="card-server-admin-banner" />
    <div class="card-server-admin-info">
      <ul>
        <li>
          <span>Bump Points</span>
          <i class="server-bump-points">
            {{ server.bumpPoints }}
          </i>
        </li>
        <li>
          <span>Last Bumped</span>
          <i class="server-bump-date">
            {% if server.lastBumpEvent %}
              {{ server.lastBumpEvent.dateCreated|time_diff }}
            {% else %}
              Never
            {% endif %}
          </i>
        </li>
        <li>
          <span>By</span>
          <i class="server-bump-user">
            {% if server.lastBumpEvent and server.lastBumpEvent.user|default %}
              {{ server.lastBumpEvent.user|displayUsername }}
            {% else %}
              N/A
            {% endif %}
          </i>
        </li>
        <li>
          <span>Next Bump</span>
          <i class="server-bump-next">
            -
          </i>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer card-server-admin-footer">
    {% if hasServerAccess(server, 'editor') %}
      <span class="card-server-admin-bump-btn text-success" title="Bump" data-toggle="tooltip">
        {{ icon('app-bump') }}
      </span>
    {% endif %}
    {% if hasServerAccess(server, 'owner') %}
      <a
        href="{{ path('upgrade_index', { slug: server.slug }) }}"
        title="Upgrade"
        data-toggle="tooltip"
      >
        {{ icon('app-upgrade') }}
      </a>
    {% endif %}
    {% if hasServerAccess(server, 'editor') %}
      <a
        href="{{ path('server_stats', { slug: server.slug }) }}"
        title="Statistics"
        data-toggle="tooltip"
      >
        {{ icon('app-stats') }}
      </a>
    {% endif %}
    {% if hasServerAccess(server, 'manager') %}
      <a
        href="{{ path('server_team', { slug: server.slug }) }}"
        title="Manage Team"
        data-toggle="tooltip"
      >
        {{ icon('app-team') }}
      </a>
    {% endif %}
    {% if hasServerAccess(server, 'manager') %}
      <a
        href="{{ path('server_settings', { slug: server.slug }) }}"
        title="Edit Server"
        data-toggle="tooltip"
      >
        {{ icon('app-settings') }}
      </a>
    {% endif %}
  </div>
</div>
