<div class="card card-primary card-server-admin" data-server-id="{{ server.discordID }}">
  <div class="card-header card-server-admin-header">
    <div class="card-server-admin-header-meta">
      <img class="card-server-admin-icon" src="{{ server.iconMedia|webPath }}" alt="server Icon" />
      <h2>
        <a href="{{ path('server_index', { slug: server.slug }) }}">
          {{ server.name }}
        </a>
      </h2>
    </div>
  </div>
  <div class="card-img">
    <img src="{{ server.bannerMedia|webPath }}" alt="Banner" class="card-server-admin-banner" />
    <div class="card-server-admin-info">
      <ul>
        <li>
          <span>Bump Points</span>
          <i class="server-bump-points">
          {{ server.bumpPoints }}
          </i>
        </li>
        <li>
          <span>Bumped Last</span>
          {% if server.lastBump %}
            {{ server.lastBump.dateCreated|time_diff }}
          {% else %}
            Never
          {% endif %}
        </li>
        <li>
          <span>Bumped By</span>
          {% if server.lastBump %}
            {{ server.lastBump.user.username }}#{{ server.lastBump.user.discordDiscriminator }}
          {% else %}
            N/A
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer card-server-admin-footer">
    <span class="card-server-admin-bump-btn text-success" title="Bump" data-toggle="tooltip">
      {{ icon('app-bump') }}
    </span>
    <a href="{{ path('server_upgrade', { slug: server.slug }) }}" title="Upgrade" data-toggle="tooltip">
      {{ icon('app-upgrade') }}
    </a>
    <a href="{{ path('server_stats', { slug: server.slug }) }}" title="Statistics" data-toggle="tooltip">
      {{ icon('app-stats') }}
    </a>
    <a href="{{ path('server_settings', { slug: server.slug }) }}" title="Edit Server" data-toggle="tooltip">
      {{ icon('app-settings') }}
    </a>
  </div>
</div>
