<div class="card card-primary card-server-admin" data-server-id="{{ server.discordID }}">
  <div class="card-header card-server-admin-header">
    <div class="card-server-admin-header-meta">
      <img class="card-server-admin-icon" src="{{ server.iconMedia|webPath }}" alt="server Icon" />
      <h2>{{ server.name }}</h2>
    </div>
    {#{{ icon('ellipsis-v', 'fa card-server-admin-menu') }}#}
  </div>
  <div class="card-img">
    <button class="btn btn-sm btn-success card-server-admin-bump-btn">
      Bump
    </button>
    <img src="{{ server.bannerMedia|webPath }}" alt="Banner" class="card-server-admin-banner" />
    <div class="card-server-admin-info">
      <div class="card-server-admin-info-bump-points">
        Bump Points:
        <span class="server-bump-points">
          {{ server.bumpPoints }}
        </span>
      </div>
      <div class="card-server-admin-info-url">
        <a href="{{ server|serverURL }}">
          {{ server|serverURL }}
        </a>
      </div>
    </div>
  </div>
  <div class="card-footer card-server-admin-footer">
    <a href="{{ path('server_upgrade', { slug: server.slug }) }}" title="Upgrade" data-toggle="tooltip">
      {{ icon('arrow-circle-up') }}
    </a>
    <a href="{{ path('server_upgrade', { slug: server.slug }) }}" title="Diamond" data-toggle="tooltip">
      {{ icon('gem', 'far') }}
    </a>
    <a href="{{ path('server_stats', { slug: server.slug }) }}" title="Statistics" data-toggle="tooltip">
      {{ icon('chart-bar') }}
    </a>
    <a href="{{ path('server_settings', { slug: server.slug }) }}" title="Edit Server" data-toggle="tooltip">
      {{ icon('cog') }}
    </a>
  </div>
</div>
