<div class="card card-server card-server-status-{{ server.premiumStatusString }}">
  {% include "_cards/blocks/premium-tag.html.twig" %}
  <a href="{{ path('server_index', { slug: server.slug }) }}" class="card-server-link">
    <div class="card-server-info-wrap">
      <div class="card-server-info">
        <img class="card-server-icon" src="{{ server.iconMedia|webPath }}" alt="server Icon" />
        <h2 class="card-server-name">
          {{ server.name }}
        </h2>
        <h3 class="card-server-categories">
          {% for category in server.categories %}
            <a href="{{ path('category_index', { slug: category.slug }) }}">
              {{ category.name }}
            </a>
            {% if not loop.last %}|{% endif %}
          {% endfor %}
        </h3>
        <div class="card-server-members-online">
          {{ icon('app-online') }}
          {{ server.membersOnline|number_format }} online
        </div>
        <div class="card-server-description">
          {{ server.summary }}
        </div>
      </div>
    </div>
    <div class="card-server-bg-wrap">
      <img class="card-server-bg" src="{{ server.bannerMedia|webPath }}" alt="Background" />
    </div>
  </a>
</div>
