<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand mx-auto" href="/">
    <img src="{{ asset('images/logo-brand.png') }}" alt="Logo" class="nav-image" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarCategoriesDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarCategoriesDropdown">
          {% for category in categories %}
            <a class="dropdown-item" href="{{ path('category_index', { slug: category.slug }) }}">
              {{ category.name }}
            </a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarAccountDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="{{ app.user|avatar }}" alt="Avatar" class="nav-avatar nav-image" />
            <span>{{ app.user|displayUsername(false) }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
            <a href="{{ path('profile_index') }}" class="dropdown-item">
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ path('logout') }}" class="dropdown-item">
              Logout
            </a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{{ path('login') }}" class="nav-link">
            <img src="{{ asset('images/discord-logo-white.png') }}" alt="Discord Logo" class="nav-image" />
            Login With Discord
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
