{{ form_start(form, { attr: { 'id': 'server-add-form' }}) }}
  <div class="card card-primary">
    <div class="card-header">
      Add Discord Server
    </div>
    <div class="card-body">
      {{ form_row(form.discordID, { attr: { readonly: isEditing }}) }}
      {{ form_row(form.name) }}
      {{ form_row(form.slug, { attr: { readonly: isEditing }}) }}
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">
      Invites
    </div>
    <div class="card-body">
      <p>
        In order to create invites for people to join the server, the server widget with <b>instant invite</b>
        needs to be enabled <b>or</b> our bot needs to be added to the server.
      </p>
      <p>
        To use instant invites, open your <b>"Server Settings"</b> on <b>Discord</b> and go to
        the <b>Widget Tab (Does not show up on mobile).</b> Make sure the checkbox for <b>"Enable Widget"</b> is
        checked and an <b>"Instant Invite Channel"</b> is selected.
      </p>
      <div class="gutter-bottom">
        <button id="server-verify-widget-btn" class="btn btn-success" type="button" style="width: 200px;">
          Verify Widget Settings
        </button>
      </div>
      <p id="server-verify-widget-success" class="hidden">
        The server widget is configured correctly! You do not need to add our bot to your welcome channel.
      </p>
      <p id="server-verify-widget-danger" class="bg-danger gutter hidden">
        The server widget is <b>not</b> configured correctly. Either enable the widget with instant invites
        or add our bot to your welcome channel.
      </p>
      <hr />
      <p>
        Otherwise add our bot to your welcome channel, and the bot will create invites for people to join.
      </p>
      <div class="gutter-bottom">
        <a
          href="https://discordapp.com/api/oauth2/authorize?client_id={{ discordClientID }}&scope=bot&permissions=0"
          target="_blank"
          id="server-add-bot-btn"
          class="btn btn-success"
          style="width: 200px;"
        >
          Add Our Discord Bot
        </a>
      </div>
      {{ form_row(form.botInviteChannelID) }}
      <div class="text-right">
        <button id="server-refresh-btn" type="button" class="btn btn-link">
          {{ icon('sync') }}
          Refresh
        </button>
      </div>
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">
      Details
    </div>
    <div class="card-body">
      {{ form_row(form.summary) }}
      {{ form_row(form.description) }}
      {{ form_row(form.categories) }}
      {{ form_row(form.tags) }}
      {{ form_row(form.isPublic) }}
      {{ form_row(form.isActive) }}
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">
      Human Verification
    </div>
    <div class="card-body">
      {{ form_row(form.botHumanCheck) }}
      {{ form_row(form.serverPassword) }}
      {{ form_row(form.updatePassword) }}
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">
      Media
    </div>
    <div class="card-body">
      {{ form_row(form.bannerFile) }}
      {{ form_row(form.bannerCropData) }}
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-body">
      <button class="btn btn-info btn-lg btn-block" type="submit">
        {% if isEditing %}
          Update Discord Server
        {% else %}
          Add Discord Server
        {% endif %}
      </button>
    </div>
  </div>
  {{ form_rest(form) }}
{{ form_end(form) }}
{% include "server/blocks/error-modal.html.twig" %}
{% include "server/blocks/cropper-modal.html.twig" %}
