{% extends 'base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
{% block body %}
  <div id="page-contact">
    <div class="row">
      <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
        {{ form_start(form) }}
        <div class="card card-primary">
          <div class="card-header">
            {{ icon('pen-square') }}
            Contact Us
          </div>
          <div class="card-body">
            <p>
              Leave us a message or join <a href="https://discord.gg/Y3MbMkt" target="_blank">the support server</a>.
            </p>
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}
            <div
              class="g-recaptcha gutter-top d-flex justify-content-center"
              data-sitekey="{{ recaptchaSiteKey }}"
            ></div>
          </div>
          <div class="card-footer">
            <button class="btn btn-info btn-lg btn-block" type="submit">
              Send
            </button>
          </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
  <script>
    document.getElementById('contact_name').focus();
  </script>
{% endblock %}
