{% extends "base.html.twig" %}
{% block body %}
  <div
    id="page-server"
    data-server-id="{{ server.discordID }}"
    data-requires-password="{{ server.serverPassword|toBool }}"
    data-requires-recaptcha="{{ server.botHumanCheck|toBool }}"
  >
    <div
      class="jumbotron server-jumbotron"
      style="background-image: url({{ server.bannerMedia|webPath }});"
    >
      {% include "_cards/blocks/premium-banner.html.twig" %}
      <div class="server-jumbotron-info">
        <div class="container">
          <h1 class="server-jumbotron-name display-4">
            {% include "_media/server-icon.html.twig" %}
            {{ server.name }}
          </h1>
          <p class="lead">
            {{ server.summary }}
          </p>
          <div class="server-jumbotron-members-online">
            {{ icon('app-online') }}
            {{ server.membersOnline|number_format }} online
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-server-about">
          <div class="card-body">
            <div class="server-buttons float-md-right">
              {% if hasServerAccess(server, 'manager') %}
                <a
                  href="{{ path('upgrade_index', { slug: server.slug }) }}"
                  class="btn btn-lg btn-info"
                  title="Upgrade Server"
                  data-toggle="tooltip"
                >
                  {{ icon('app-upgrade') }}
                </a>
              {% endif %}
              {% if hasServerAccess(server, 'manager') %}
                <a
                  href="{{ path('server_settings', { slug: server.slug }) }}"
                  class="btn btn-lg btn-info"
                  title="Server Settings"
                  data-toggle="tooltip"
                >
                  {{ icon('app-settings') }}
                </a>
              {% endif %}
              {% if hasServerAccess(server, 'manager') %}
                <a
                  href="{{ path('server_team', { slug: server.slug }) }}"
                  class="btn btn-lg btn-info"
                  title="Manage Team"
                  data-toggle="tooltip"
                >
                  {{ icon('app-team') }}
                </a>
              {% endif %}
              {% if hasServerAccess(server, 'editor') %}
                <a
                  href="{{ path('server_stats', { slug: server.slug }) }}"
                  class="btn btn-lg btn-info"
                  title="Server Stats"
                  data-toggle="tooltip"
                >
                  {{ icon('app-stats') }}
                </a>
              {% endif %}
              {#
              <a
                href="{{ path('server_follow', { slug: server.slug }) }}"
                class="btn btn-lg btn-info {% if isFollowing %}server-following{% endif %}"
                title="{% if isFollowing %}Unfollow{% else %}Follow{% endif %} Server"
                data-toggle="tooltip"
              >
                {{ icon('app-follow') }}
              </a>
              #}
              <button
                id="server-join-btn"
                class="btn btn-lg btn-success"
                {% if not server.active %} disabled="disabled"{% endif %}
              >
                {{ icon('app-join') }}
                Join Server
              </button>
            </div>
            <div class="card-server-about-categories">
              Categories
              {% for category in server.categories %}
                <a href="{{ path('category_index', { slug: category.slug }) }}">
                  {{ category.name }}
                </a>
                {% if not loop.last %}, {% endif %}
              {% endfor %}
              {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div>
                  Owned by {{ server.user|displayUsername }}
                </div>
                <div>
                  {{ server.bumpPoints }} bump points
                </div>
              {% endif %}
            </div>
            <div class="card-server-about-description">
              {% if server.description %}
                {{ server.description|markdown }}
              {% else %}
                Click 'Join Server' above to join this community.
              {% endif %}
            </div>
          </div> {# body #}
        </div> {# card #}
      </div> {# col #}
    </div> {# row #}
    {% include "server/blocks/join-modal.html.twig" %}
  </div> {# page #}
{% endblock %}
