{% extends 'base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}
{% block body %}
<div id="page-server-stats" data-server-id="{{ server.discordID }}">
  <div class="row">
    <div class="col">
      <div class="card card-primary card-server-stats">
        <div class="card-header card-server-summary-header">
          <img src="{{ server.iconMedia|webPath }}" alt="Icon" class="card-server-stats-icon" />
          <div>
            <h4>{{ server.name }}</h4>
            <span class="card-server-stats-summary">{{ server.summary }}</span>
          </div>
          <a
            href="{{ path('server_settings', { slug: server.slug }) }}"
            class="card-server-stats-settings"
            title="Server Settings"
            data-toggle="tooltip"
          >
            {{ icon('app-settings') }}
          </a>
        </div>
        <div class="card-body">
          <ul class="card-server-stats-list">
            <li>
              <span>Owner:</span> {{ server.user|displayUsername }}
            </li>
            <li>
              <span>Discord ID:</span> {{ server.discordID }}
            </li>
            <li>
              <span>Members Online:</span> {{ server.membersOnline|number_format }}
            </li>
            <li>
              <span>Bump points:</span> {{ server.bumpPoints|number_format }}
            </li>
            <li>
              <span>Total Joins:</span> {{ joinCount|number_format }}
            </li>
            <li>
              <span>Total Views:</span> {{ viewCount|number_format }}
            </li>
            <li>
              <span>Created:</span> {{ server.dateCreated|date('Y-m-d') }}
            </li>
            <li>
              <span>Categories:</span>
              {% for category in server.categories %}
                <a href="{{ path('category_index', { slug: category.slug }) }}">
                  {{ category.name }}
                </a>
                {% if not loop.last %}, {% endif %}
              {% endfor %}
            </li>
            <li>
              <span>URL:</span> <a href="{{ path('server_index', { slug: server.slug }) }}">
                {{ url('server_index', { slug: server.slug }) }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card-primary card-server-stats">
        <div class="card-header card-server-stats-header">
          {{ icon('app-stats') }} Views &amp; Joins
        </div>
        <div class="card-body">
          <canvas id="server-stats-chart-joins" width="400" height="150"></canvas>
          <p class="server-stats-chart-joins-empty text-center hidden">
            Statistics are still being generated for this server. Check back later.
          </p>
          <p class="form-help">
            Views are when people visit the server page, and joins are when they join the server.
            You may need to improve your server banner, summary and description to be more enticing
            when views are much higher than joins. Bump your server more often to increase views and
            <a href="{{ path('server_upgrade', { slug: server.slug }) }}">{{ icon('arrow-circle-up') }} upgrade your server</a>
            to get more bumps.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card-primary card-server-stats-bump-log">
        <div class="card-header card-server-stats-header">
          {{ icon('app-bump') }} Bump Log
        </div>
        <div class="card-body">
          {% if bumpLog|length == 0 %}
            <p class="text-center">
              This server does not have any bumps.
            </p>
          {% else %}
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>User</th>
                </tr>
              </thead>
              <tbody>
              {% for log in bumpLog %}
                <tr>
                  <td>
                    {{ log.dateCreated|date('Y-m-d H:i:s') }}
                  </td>
                  <td>
                    {{ log.user|displayUsername }}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

