{% extends 'base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}
{% block body %}
<div id="page-server-stats" data-server-id="{{ server.discordID }}">
  <div class="row">
    <div class="col">
      <h1 class="layout-page-title">
        Server Statistics
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card-primary card-server-stats">
        <div class="card-header">
          <img src="{{ server.iconMedia|webPath }}" alt="Icon" class="card-server-stats-icon" />
          {{ server.name }}
        </div>
        <div class="card-body">
          <canvas id="server-stats-chart-joins" width="400" height="150"></canvas>
          <p class="form-help">
            Views are when people visit the server page, and joins are when they join the server.
            You may need to improve your server banner, summary and description to be more enticing
            when views are much higher than joins. Bump your server more often to increase views and
            <a href="{{ path('server_upgrade', { slug: server.slug }) }}">{{ icon('arrow-circle-up') }} upgrade your server</a>
            to get more bumps.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card-primary card-server-stats-bump-log">
        <div class="card-header">
          Bump Log
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
            {% for log in bumpLog %}
              <tr>
                <td>
                  {{ log.dateCreated|date('Y-m-d H:i:s') }}
                </td>
                <td>
                  {{ log.user.discordUsername }}#{{ log.user.discordDiscriminator }}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

